.chat-message {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.4rem 0.6rem;
    border-radius: 16px;
    font-size: 16px;
    max-width: 60%;
    word-wrap: break-word;
    word-break: break-all;
}

.chat-message.left {
    background-color: var(--content-color);
    color: var(--text-color);
    margin-right: auto;
}

.chat-message.right {
    background-color: var(--message-color);
    color: var(--text-color);
    margin-left: auto;
}

.chat-message p {
    margin: 0;
    white-space: normal;
}

.message-time {
    color: var(--message-time-color);
    font-size: 12px;
    align-self: flex-end;
    white-space: nowrap;
    margin-left: 0.5rem;
}
