.message-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--chat-color);
}

.message-input {
    width: 50%;
    height: 2.5rem;
    border-radius: 0.625rem;
    border: none;
    padding: 1.75rem 1.375rem;
    font-size: 1rem;
    outline: none;
    background-color: var(--content-color);
    color: var(--text-color);
}

.send-button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--content-color);
    color: var(--send-button-color);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-left: 1rem;
    padding-left: 0.125rem;
    transition: 0.2s ease;
}

.send-button:hover {
    background-color: var(--send-button-color);
    color: white;
}
