.settings {
    background-color: var(--site-color);
    color: var(--text-color);
    width: 30rem;
    height: 100vh;
    overflow: auto;
    overflow-x: scroll;
    scrollbar-width: thin;
    white-space: nowrap;
    scrollbar-color: #262626FF #262626FF;
}

.content {
    width: 100%;
    font-size: 1.125rem;
    overflow-x: auto;
    animation: switchAnimation 0.25s ease-in-out;
}

.item-preview {
    cursor: pointer;
    padding: 0.7rem;
    margin: 0.75rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    transition: 0.2s ease;
}

.item-preview svg {
    font-size: 1.5rem;
    color: var(--menu-icons-color);
}

.item-preview p {
    padding-left: 1rem;
    font-size: 1.15rem;
}

.item-preview:hover {
    background-color: var(--theme-switcher-hower-color);
}