.content {
    width: 100%;
    font-size: 1.125rem;
    overflow-x: auto;
    animation: switchAnimation 0.25s ease-in-out;
}

.item-preview {
    cursor: pointer;
    padding: 0.7rem;
    margin: 0.75rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    transition: 0.2s ease;
}

.item-preview svg {
    font-size: 1.5rem;
    color: var(--menu-icons-color);
}

.item-preview p {
    padding-left: 1rem;
    font-size: 1.15rem;
}

.item-preview:hover {
    background-color: var(--theme-switcher-hower-color);
}